@page
@model PermissionSystem.Pages.Manager.Reply
@{
    ViewData["Title"] = "Reply";
}


<h2>Reply</h2>


<fieldset class="form-group">
    <legend class="mt-4">Action Status</legend>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked="">
            Approve
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
            Reject
        </label>
    </div>
</fieldset>
<div class="form-group">
    <label for="exampleTextarea" class="form-label mt-4">Manager Note</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
</div>

<div class="form-group">
    <input type="submit" value="Send" class="btn btn-success" />
</div>
